<div class="header">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Campus360
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a routerLink="/">Home</a>
            <a routerLink="">Explore</a>
            <a routerLink="">Top Colleges</a>
            <a routerLink="">Upload</a>
            <a routerLink="">Login</a>
        </div>
    </div>
</div>